#!/bin/bash
set -e
echo "~ Running $(basename $0)"

if [ ! -d ~/.asdf ]; then
    git clone https://github.com/asdf-vm/asdf.git "$HOME/asdf" --branch v0.14.0
fi

if [ ! -d "$HOME/.asdf/installs/lazydocker" ]; then
    # shellcheck disable=SC1091
    source "$HOME/.asdf/asdf.sh"
    asdf plugin add lazydocker https://github.com/comdotlinux/asdf-lazydocker.git
    asdf list all lazydocker
    asdf install lazydocker latest
    asdf global lazydocker latest
fi
