#!/bin/bash
set -e

echo "~ Running $(basename $0)"
{{ if eq .chezmoi.os "linux" }}
url="https://vault.bitwarden.com/download/?app=cli&platform=linux"
{{ end }}

{{ if eq .chezmoi.os "darwin" -}}
url="https://vault.bitwarden.com/download/?app=cli&platform=macos"
{{ end }}

sudo mkdir -p /usr/local/bin
curl -L "$url" > bitwarden.zip
unzip -p bitwarden.zip bw > bw
chmod +x bw
sudo mv bw /usr/local/bin/bw
rm -v bitwarden.zip

cat <<'EOF' >$HOME/bitwarden-source-mee-bootstrap.sh
bwu() {
  if [ -z "$BW_SESSION" ] || [ "$(bw status | jq -r '.status')" != "unlocked" ]; then
    if ! BW_SESSION=$(bw unlock --raw); then
      if ! BW_SESSION=$(bw login {{ .email }} --raw); then
        echo "ERROR could not login"
        exit 1
      fi
    fi
    export BW_SESSION
  fi
}
EOF