encryption = "age"

[age]
    identity = "~/.age-chezmoi.txt"
    recipient = "age1esy8xrcey8fk9n2qam7wz332p3c3wt4haqsl4gaz6vx9vndtjd7qh8tj8n"

#[hooks.read-source-state.pre]
#    command = ".local/share/chezmoi/.setup-age-encryption.sh"
