encryption = "age"

[age]
    identity = ".local/share/chezmoi/.age-chezmoi"
    recipient = "age1f69hqpjv0nj6j63w5kc80xdf32v8r68w5la3a6k9mk5eqvdkrsrqsuum0r"

#[hooks.read-source-state.pre]
#    command = ".local/share/chezmoi/.setup-age-encryption.sh"
