[user]
    email = {{ joinPath .chezmoi.sourceDir ".secrets/.git_email.age" | include | decrypt | trim}}
    name = Marton Szucs
[init]
    defaultBranch = main
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
